@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --primary: #00B0d7;
    --accent: #ff6060;
    --dark: #001b2f;
    --light: #fff;
    --dispaly-dark: #00223a;
    --actions-light:#e9f6ff;
    --actions-dark:#001b2f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--light);
    font-family: 'Poppins', sans-serif;
}

.calculator {
    width: 320px;
    border-radius: 20px;
    background-color: var(--dark);
    overflow: hidden;
}

.display {
    padding: 20px 24px;
    padding-bottom: 44px;
    margin-bottom: -24px;
    background-color: var(--dispaly-dark);
    text-align: right;
}

.history {
    font-size: 24px;
}

.history strong {
    font-weight: 400;
    color: var(--accent);
    height: 33px;
}

.total {
    font-size: 32px;
    font-weight: 600;
    height: 42px;
}

.actions {
    padding: 16px;
    padding-bottom: 32px;
    background-color: var(--dark);
    border-radius: 20px;
    font-size: 24px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.col img {
    width: 24px;
    pointer-events: none;
}

.reset{
    color: var(--accent);
}

.action {
    color: var(--primary);
}